<nav class="navbar navbar-toggleable-sm navbar-trans navbar-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="#" id="title">Youth Card Project {{ year }}</a>
    <span class="navlink">
      <a class="nav-link" href="#">Submit <span class="sr-only">(current)</span></a>
    </span>
    <span class="navlink">
      <a class="nav-link" href="#">About</a>
    </span>
    <span class="navlink">
      <a class="nav-link" href="#">Contact</a>
    </span>
  </div>
</nav>