#title {
    color: white;
    font: normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light, sans-serif; 
    text-align: center;
}

.nav-link {
    color:white;
}

.navlink {
    &:hover {
        background-color: rgba(160, 160, 159, 0.56);
        &:active{
            background-color: rgba(160, 160, 159, 0.56);
        }
    }
    color: white;
    border: solid 1px whitesmoke;
    transition: border-color 0.4s ease 0s;
    border-radius: 80px;
    background-color: rgba(160, 160, 159, 0.35);
    cursor: pointer;
    text-align: center;
    display: block;
}
