<nav class="navbar navbar-toggleable-sm navbar-trans navbar-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" id="">Youth Card Project {{ year }}</a>
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Our Work</a>
    <a class="nav-link" href="#">Contact</a>
    <a class="btn btn-outline-white btn-outline" href="#"><i class="fa fa-user"></i> Login
    </a>
  </div>
</nav>